<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link rel="stylesheet" href="css/artistas.css">
</head>
<body>
    <header>
        <nav>
            <a href="/"><i class="homepage"></i> Home</a>
            <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
            <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
            <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
            <a href="/generos"><i class="fas fa-tags"></i> Generos</a>
        </nav>
    </header>

    <div class="artists-container">
        <a href="/artistas/add" class="add-artist-button"><i class="fas fa-plus-circle"></i> Adicionar Artista</a>
        
        <% if (error) { %>
            <div class="error-message">
                <p><%= error %></p>
            </div>
        <% } %>

        <div class="artists-list">
            <% artistas.forEach(function(artista) { %>
                <div class="artist-item">
                    <button class="artist-name" onclick="window.location.href='/artistas/<%= artista.id %>'">
                        <%= artista.nome %>
                    </button>
                    <div class="artist-options">
                        <form action="/artistas/<%= artista.id %>?_method=DELETE" method="POST" class="delete-artist-form">
                            <button type="submit" class="delete-artist">
                                <i class="fas fa-trash"></i> Excluir
                            </button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</body>
</html>
