<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Gênero</title>
  <link rel="stylesheet" href="/css/editGenero.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="\images\logoatt.png" alt="logo">
            </div>
            <script>
                document.getElementById('imagem-link').addEventListener('click', function(){
                  window.location.href="/";
                });
              </script>
            <a href="/"><i class="homepage"></i> Home</a>
            <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
            <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
            <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
            <a href="/generos"><i class="fas fa-tags"></i> Generos</a>
            <!-- Formulário de busca -->
            <form action="/busca" method="get" style="display: inline-block; margin-left: 20px;">
                <input 
                    type="text" 
                    name="q" 
                    placeholder="Buscar por título, artista ou gênero" 
                    style="padding: 5px; border: 1px solid #ccc; border-radius: 4px;"
                >
                <button 
                    type="submit" 
                    style="padding: 5px 10px; background-color: #333; color: white; border: none; border-radius: 4px; cursor: pointer;"
                >
                    Buscar
                </button>
            </form>
        </nav>
    </header>
    
    <div class="form-container">
        <h1>Editar Gênero</h1>
        <form action="/generos/<%= genero.id %>?_method=PUT" method="POST">
            <label for="nome">Nome do Gênero:</label>
            <input type="text" id="nome" name="nome" value="<%= genero.nome %>" required>
            <button type="submit">Salvar Alterações</button>
        </form>
        
    </div>

    <footer>
        <a href="/generos" class="voltas">Cancelar</a>
    </footer>
</body>
</html>
