<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gêneros</title>
    <link rel="stylesheet" href="css/generos.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><i class="homepage"></i> Home</a>
        <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
        <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
        <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
        <a href="/generos"><i class="fas fa-tags"></i> Gêneros</a>
      </nav>
    </header>

    <div class="genres-container">
      <a href="/generos/add" class="add-genre-button"
        ><i class="fas fa-plus-circle"></i> Adicionar Gênero</a
      >

      <div class="genres-list">
        <% generos.forEach(function(genero) { %>
        <div class="genre-item">
          <button class="genre-name"><%= genero.nome %></button>
          <div class="genre-options">
            <button
              class="edit-genre"
              onclick="window.location.href='/generos/edit/<%= genero.id %>'"
            >
              <i class="fas fa-edit"></i> Editar
            </button>
            <form
              action="/generos/<%= genero.id %>?_method=DELETE"
              method="POST"
              class="delete-genre-form"
              onsubmit="return confirm('Tem certeza que deseja excluir este gênero?');"
            >
              <button class="delete-genre">
                <i class="fas fa-trash"></i> Excluir
              </button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <footer>
      <a href="/" class="voltas"
          ><i class="volta"></i> Voltar ao Menu Inicial</a
        >
      </footer>
  </body>
</html>
