<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duimzer</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>

        <nav>
            <a href="/"><i class="homepage"></i> Home</a>
            <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
            <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
            <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
            <a href="/generos"><i class="fas fa-tags"></i> Generos</a>
        </nav>
    </header>

    <nav>
        <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
        <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
        <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
        <a href="/generos"><i class="fas fa-tags"></i> Generos</a>
    </nav>

</body>
</html>