<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duimzer</title>
    <link rel="stylesheet" href="/css/vincularArtista.css">
    <link rel="icon" type="image/x-icon" href="/images/ondas-sonoras.ico">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="\images\logoatt.png" alt="logo">
            </div>
            <script>
                document.getElementById('imagem-link').addEventListener('click', function(){
                  window.location.href="/";
                });
              </script>
            <a href="/"><i class="homepage"></i> Home</a>
            <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
            <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
            <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
            <a href="/generos"><i class="fas fa-tags"></i> Gêneros</a>
            <!-- Formulário de busca -->
            <form action="/busca" method="get" style="display: inline-block; margin-left: 20px;">
                <input 
                    type="text" 
                    name="q" 
                    placeholder="Buscar por título, artista ou gênero" 
                    style="padding: 5px; border: 1px solid #ccc; border-radius: 4px;"
                >
                <button 
                    type="submit" 
                    style="padding: 5px 10px; background-color: #333; color: white; border: none; border-radius: 4px; cursor: pointer;"
                >
                    Buscar
                </button>
            </form>
        </nav>
    </header>

    <h1 class="vincular-title">Vincular Artista ao Disco: <%= disco.titulo %></h1>
<div class="vincular-container">
    <form action="/vincular-artista/<%= disco.id %>" method="POST" class="vincular-form">
        <label for="artistaId">Escolha um artista</label>
        <select name="artistaId" id="artistaId" class="vincular-select">
            <% artistas.forEach(artista => { %>
                <option value="<%= artista.id %>"><%= artista.nome %></option>
            <% }) %>
        </select>

        <button type="submit" class="vincular-button">Vincular Artista</button>
    </form>        
</div>
<footer>
    <a href="/" class="voltas"
        ><i class="volta"></i> Voltar ao Menu Inicial</a
      >
    </footer>
</body>
</html>