/* Configuração Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444444; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    justify-content: space-between;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 15px 30px;
    background-color: #3a3939; /* Fundo do cabeçalho */
    border-bottom: 2px solid #049623;
    position: sticky;
    top: 0;
    z-index: 1000;
    outline: white;
}

/* Navegação */
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff; /* Cor do texto */
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #FF4057; /* Fundo ao passar o mouse */
    color: #ffffff; /* Texto branco */
    transform: scale(1.1); /* Aumenta levemente */
}

.disco-container {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    max-width: 600px;
}

.capa {
    padding-top: 20px;
}

.capa img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FF4057;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 1.1em;
    margin: 5px 0;
}

h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

/* Lista de faixas */
ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #333333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #FF4057;
    color: white;
}
