/* Configuração Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444444; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    justify-content: space-between;
}

/* Cabeçalho */
header {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 15px 30px;
    background-color: #3a3939; /* Fundo do cabeçalho */
    border-bottom: 2px solid #049623;
    position: sticky;
    top: 0;
    z-index: 1000;
}


/* Navegação */
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #ffffff; /* Cor do texto */
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
    background-color: #049623; /* Fundo ao passar o mouse */
    color: #ffffff; /* Texto branco */
    transform: scale(1.1); /* Aumenta levemente */
}

/* Estilização do container de faixas */
.faixas-container {
    background-image: url('/images/fundomusic.jpg');

    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    background-color: #7c7c7c;
    margin-top: 20px;
}

/* Estilização da faixa-item */
.faixa-item {
    background-color: #1c1c1c; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33% - 20px); /* 3 itens por linha */
    transition: transform 0.3s ease-in-out;
}

/* Efeito de hover para destacar o item */
.faixa-item:hover {
    transform: translateY(-3px);
}

/* Estilização do título da faixa */
.faixa-titulo {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
}

/* Estilização das opções de edição e exclusão */
.faixa-options {
    display: flex;
    justify-content: space-between;
}

.faixa-options button {
    background-color: #049623; /* Fundo ao passar o mouse */
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover nos botões */
.faixa-options button:hover {
    background-color: #025815; /* Fundo ao passar o mouse */
}

/* Estilização dos ícones nos botões */
.faixa-options i {
    margin-right: 5px;
}

/* Estilização do botão do disco vinculado */
.disco-button {
    font-size: 14px;
    background: none;
    color: white;
    border: #025815;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
    padding-bottom: 5px;
}

/* Efeito de hover nos botões de disco */
.disco-button:hover {
    color: #025815;
}

